#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 640px) {
    #card-container {
        grid-template-columns: auto;
    }
}

.eboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    background-color: #DAD9D6;
    padding: 10px;
    min-height: 575px;
    max-height: max-content;
}

.eboard-card:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.photo {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top: 20px;
}

#eboard-photo {
    width: 250px;
    height: auto;
    border: 1px solid black;
}

.name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: larger;
}

.position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
    text-decoration: underline;
}

.roleandname {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.major {
    padding: 10px 0 0 0;
    margin: 0;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}

@media (max-width: 640px) {
    .eboard-card {
        max-width: 285px;
    }

    #eboard-photo {
        width: 225px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    height: max-content;
}

.personal {
    column-gap: 10px;
    min-width: fit-content;
    height: 40px;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-decoration: none;
    color: black;
}

.personal#github {
    background-color: #BFFFD1;
}

.personal#github:hover {
    background-color: #5FED83;
    color: black;
}

.personal#linkedin{
    background-color: #68C7EC;
    
}

.personal#linkedin:hover {
    background-color: #00A0DC;
    color: black;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    padding-bottom: 20px;
    margin: 0 5px 5px 5px;
    width: 100%;
    height: fit-content;
}
