#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 640px) {
    #card-container {
        grid-template-columns: auto;
    }
}

.eboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    background-color: rgb(131, 206, 226);
    padding: 10px;
    min-height: max-content;
}

.name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: larger;
}

.position {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
    text-decoration: underline;
}

.roleandname {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.photo {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 60%;
    padding-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35%;
}

button {
    display: inline-flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: none;
    transition: background 2ms;
}

.personal {
    column-gap: 10px;
    min-width: fit-content;
    height: 40px;
    border-radius: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.personal#github {
    background-color: #d0d7de;
}

.personal#github:hover {
    background-color: #8c959f;
    color: black;
}

.personal#linkedin{
    background-color: #68C7EC;
    
}

.personal#linkedin:hover {
    background-color: #34B3E4;
    color: black;
}

#materials {
    width: 40px;
    height: 40px;
    background-color: rgb(182, 180, 180);
}

#materials:hover {
    background-color: rgb(139, 138, 138);
}

#calendar {
    width: 40px;
    height: 40px;
    background-color: rgb(182, 180, 180);
}

#calendar:hover {
    background-color: rgb(139, 138, 138);
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    padding-bottom: 20px;
    margin: 5px;
    column-gap: 30px;
    height: 5%;
}

#eboard-photo {
    width: 250px;
    height: auto;
    border: 1px solid black;
}

.major {
    padding: 0;
    margin: 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}
