.event-card {
    display: flex;
    background-color: rgb(150, 172, 170);
    border-radius: 25px;
    border: none;
    text-decoration: none;
    padding: 5px;
    position: relative;
    width: 600px;
    height: 200px;
}

#events {
    display: flex;
    flex-direction: column;
}

.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5px;
    right: 10px;
}

@media (max-width: 450px) {
    #events div {
        grid-template-columns: auto;
    }
}

.title {
    display: flex;
    flex-direction: column;
}

.event-title {
    font-size: x-large;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 15px; 
}

.event-subtitle {
    font-size: medium;
    font-style: italic;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 35px;
    left: 15px;
}

.event-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 0;
    padding: 0;
    left: 10px;
    top: 35px;
}

.event-info.has-subtitle {
    top: 55px;
}

.description {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35px;
    left: 10px;
    right: 100px;
    padding-top: 10px;
    height: fit-content;
}

.datetimelocal {
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 2px;
    margin: 0 5px;
    padding: 4px 0;
}

.resources{
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 2px;
    padding: 0;
    margin: 0;   
    right: 10px;
    top: 10px; 
    text-decoration: underline;
}