.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
}

.event-card {
    display: flex;
    flex-direction: column;
    background-color: #6BC9C9;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    padding: 5px;
    position: relative;
    width: 500px;
    height: fit-content;
}

.event-card:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.event-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.primary-title {
    padding: 0;
    margin: 0;
    width: fit-content;
    text-align: start;
    text-indent: -28px;
    margin-left: 28px;
}

.guest {
    margin: 5px 0 0 28px;
    font-size: medium;
    font-style: italic;
}

.event-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}

#materials {
    width: 40px;
    height: 40px;
    background-color: #DAD9D6;
    color: black;
}

#materials:hover {
    background-color: rgb(161, 161, 159);
    color: white;
}

#calendar {
    width: 40px;
    height: 40px;
    background-color: #DAD9D6;
    color: black;
}

#calendar:hover {
    background-color: rgb(161, 161, 159);
    color: white;
}

.event-info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 32px;
}

.datetimelocal {
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 2px;
    margin: 0 5px;
    padding: 4px 0;
}

.description {
    margin: 0 10px 0 28px; 
    padding-bottom: 5px;   
}

