.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 100px;
}

.mission-statement {
    display: flex;
    justify-items: center;
    text-align: center;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    
}

.activity-card {
    background-color: aqua;
    padding: 20px;
    border-radius: 25px;
    max-width: 500px;
}

.activity-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}