.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 150px;
}

.mission-statement {
    display: flex;
    justify-items: center;
    text-align: center;
    font-size: large;
    line-height: 1.6;
    text-wrap: balance;
    letter-spacing: 0.03em;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    
}

.activity-description {
    font-size: large;
    line-height: 1.6;
    text-wrap: balance;
    letter-spacing: 0.03em;
}

.activity-card {
    background-color: rgb(255, 227, 0);
    padding: 20px;
    border-radius: 25px;
    max-width: 500px;
    transition: ease-in-out;
    transition-duration: 5ms;
}

.activity-card:hover {
    background-color: rgb(255, 214, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.activity-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px dashed black;
    font-weight: bold;
    font-size: larger;
}

.activity-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}