#acmlogo {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: auto;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#acmlogo:hover {
    transform: scale(1.03);
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    padding: 0;
    margin: 0;
    background-color: rgb(131, 206, 226);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: calc(100% - 210px);
}

li {
    font-size: large;
    border: 1.5px solid #41B4B4;
    padding: 10px 20px;
    border-radius: 20px;
}

li:hover {
    background-color: #41B4B4;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 5ms;
    transition-timing-function: linear;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

#github {
    background-color: #BFFFD1;
}

#github:hover {
    background-color: #08872B;
    color: white;
}

#instagram {
    background-color: #FFDC80;
}

#instagram:hover {
    background-image: linear-gradient(to top right, #FFDC80, #F77737, #E1306C, #C13584, #833AB4);
    color: white;
}

#discord {
    background-color: #5865F2;
}

#discord:hover {
    background-color: #19175C;
    color: white;
}

#email {
    background-color: #fd9234;
}

#email:hover {
    background-color: #C76917;
    color: white;
}