#acmlogo {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: auto;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    padding: 0;
    margin: 0;
    background-color: #6BC9C9;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: calc(100% - 210px);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}


#instagram {
    background-color: #FFDC80;
}

#instagram:hover {
    background-image: linear-gradient(to top right, #FFDC80, #F77737, #E1306C, #C13584, #833AB4);
    color: white;
}

#discord {
    background-color: #5865F2;
}

#discord:hover {
    background-color: #19175C;
    color: white;
}