@media (min-width: 641px) {
    #acmlogo {
        width: 150px;
        height: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: auto;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    #acmlogo:hover {
        transform: scale(1.03);
    }
}


@media (max-width: 640px) {
    #acmlogo {
        width: 135px;
        height: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: auto;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    #acmlogo:hover {
        transform: scale(1.03);
    }
}

@media (min-width: 641px) {
    nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 10;
        padding: 0;
        margin: 0;
        background-color: rgb(131, 206, 226);
    }
}


@media (max-width: 640px) {
    nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 10;
        padding: 0;
        margin: 0;
        background-color: rgb(131, 206, 226);
    }
}

@media (min-width: 641px){
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 50px;
        width: calc(100% - 210px);
    }
}

@media (max-width: 640px){
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        display: none;
    }
}

li {
    font-size: large;
    border: 1.5px solid #41B4B4;
    padding: 10px 20px;
    border-radius: 20px;
}

li:hover {
    background-color: #41B4B4;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 5ms;
    transition-timing-function: linear;
}

@media (min-width: 641px) {
    .socials-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
        transition: background-color 0.2s ease;
    }
}

@media (max-width: 640px) {
    .socials-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
        transition: background-color 0.2s ease;
        display: none;
    }
}


.org-social {
    background-color: rgb(9, 53, 122);
    color: white;
}

.org-social:hover {
    background-color: rgb(1, 130, 172);
}

@media (min-width: 641px) {
    .mobile-nav-button {
        display: none;
    }
}

@media (max-width: 640px) {
    .mobile-nav-button {
        width: 55px;
        height: 55px;
        margin-right: 15px;
    }
}

