#acmlogo {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: auto;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    padding: 0;
    margin: 0;
    background-color: rgb(1, 130,172);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
}