nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    padding: 0;
    margin: 0;
    background-color: rgb(131, 206, 226);
}

#acmlogo {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 20px;
    margin-right: auto;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#acmlogo:hover {
    transform: scale(1.03);
}

.desktop-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: calc(100% - 210px);
}

.mobile-menu-container {
    display: none;
}

.mobile-menu {
    display: none;
}

li {
    font-size: large;
    border: 1.5px solid #41B4B4;
    padding: 10px 20px;
    border-radius: 20px;
}

li:hover {
    background-color: #41B4B4;
    color: whitesmoke;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 5ms;
    transition-timing-function: linear;
}

.socials-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    transition: background-color 0.2s ease;
}

.socials-mobile {
    display: none;
}

.org-social {
    background-color: rgb(9, 53, 122);
    color: white;
}

.org-social:hover {
    background-color: rgb(1, 130, 172);
}

.mobile-nav-button {
    display: none;
}

.mobile-menu-separator {
    display: none;
}

@media (max-width: 992px) {
    nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        position: fixed;
        top: 0;
        left: 0; 
        z-index: 10;
        padding: 0;
        margin: 0;
        background-color: rgb(131, 206, 226);
    }

    #acmlogo {
        width: 125px;
        height: auto;
        padding: 10px;
        margin-left: 10px;
        margin-right: auto;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    #acmlogo:hover {
        transform: scale(1.03);
    }

    .mobile-nav-button {
        display: flex;
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu-container {
        position: absolute;
        top: 67px;
        width: calc(100% - 54px);
        left: 22px;
        right: 22px;
        display: none;
        padding: 10px 0 20px 0;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(131, 206, 226);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        pointer-events: none;  
        
    }

    .mobile-menu-container.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px 0;
        margin: 0;
        list-style: none;
        justify-content: center; 
    }

    li {
        border: 1.5px solid #41B4B4;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
    }

    li:hover {
        background-color: #41B4B4;
        color: whitesmoke;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition-duration: 5ms;
        transition-timing-function: linear;
    }

    .socials-desktop {
        display: none;
    }

    .socials-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 15px;
        transition: background-color 0.2s ease;
    }

    .mobile-menu-separator {
        display: flex;
        border: 2px solid white; 
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px) { 
    .desktop-menu {
        gap: 30px;
        margin: 0 8px;
        padding: 0;
    }

    .socials-desktop {
        margin-right: 10px;
    }

    li {
        padding: 10px;
    }

    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width: 641px) and (max-width: 992px) {
    .socials-desktop {
        display: flex;
        margin: 0;
    }

    .socials-mobile {
        display: none;
    }

    .mobile-menu-separator {
        display: none;
    }

    .mobile-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 5px 15px;
        margin: 0;
        list-style: none;
        justify-content: center; 
    }

    .mobile-nav-button {
        display: flex;
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
}