.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.project-card {
    display: flex;
    background: white;
    border-radius: 12px;
    max-width: 750px;
    width: 100%;
    min-height: 400px;
    max-height: 600px;
}

.project-photo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 325px;
}

.project-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-info {
    padding: 15px 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-width: 0;
    min-height: fit-content;
}

.project-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 30px 0;
    border-bottom: 3px solid #C76917;
    padding-bottom: 10px;
}

.contributors {
    margin-bottom: 15px;
    line-height: 1.6;
}

.project-description {
    margin-bottom: 15px;
    line-height: 1.6;
}

#header {
    display: flex;
    font-size: x-large;
    color: #5C3000;
    font-weight: bolder;
    padding-bottom: 5px;
}

.github-project {
    column-gap: 10px;
    min-width: fit-content;
    height: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    background-color: #BFFFD1;
    color: black;
}

.github-project:hover {
    background-color: #5FED83;
    color: black;
}

@media (max-width: 768px) {
    .project-container {
        gap: 50px;
    }

    .project-card {
        flex-direction: column;
        min-height: fit-content;
        max-height: 1000px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .project-photo {
        min-height: 300px;
        max-height: 400px;
    }

    .project-description {
        margin-bottom: 25px;
    }

    .project-name {
        margin-bottom: 25px;
    }

    .project-info {
        padding: 30px 20px;
    }

    
}