.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.project-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    background-color: rgb(131, 206, 226);
    height: 100%;
    padding-right: 20px;
    gap: 25px;
}

#project-photo {
    width: 300px;
    height: auto;
}

.project-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
    text-decoration: underline;
    margin: 0;
    padding-top: 15px;
}

#contributor-header {
    display: flex;
    font-size: larger;
    text-decoration: underline;
    justify-content: center;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
}

.project-info {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    row-gap: 40px;
    padding: 0 5px;
}

#github-project {
    width: 100%;
    height: 100%;
    column-gap: 10px;
    border-radius: 25px;
    padding: 3px 0;
}

#github-project:hover {
    background-color: #8c959f;
} 

.project-description {
    display: flex;
    flex-direction: column;
}

#github-project {
    width: 100%;
    height: 100%;
    column-gap: 10px;
    border-radius: 25px;
    padding: 3px 0;
}

#github-project:hover {
    background-color: #8c959f;
}