.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.project-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    background-color: white;
    height: 100%;
    padding-right: 20px;
    gap: 25px;
}

.project-card:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#project-photo {
    width: 300px;
    height: auto;
}

.project-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: xx-large;
    text-decoration: underline;
    margin: 0;
    padding-top: 15px;
}

#header {
    display: flex;
    font-size: larger;
    text-decoration: underline;
    padding-bottom: 5px;
}

.contributors {
    display: flex;
    flex-wrap: wrap;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    row-gap: 30px;
    padding: 0 5px;
}

#github-project {
    width: 100%;
    height: 100%;
    column-gap: 10px;
    border-radius: 25px;
    padding: 3px 0;
    background-color: #BFFFD1;
}

#github-project:hover {
    background-color: #5FED83;
    color: black;
}

.project-description {
    display: flex;
    flex-direction: column;
}