<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#613318"/>
        <title>Valparaiso University's ACM Student Chapter</title>
        <link rel="icon" type="image/webp" sizes="16x16" href="logo.webp">
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="css/projects.css"/>
        <link rel="stylesheet" href="css/events.css"/>
        <link rel="stylesheet" href="css/eboard.css"/>
        <link rel="stylesheet" href="css/navbar.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    </head>
    <body>
        <header>
            {{ partial "navbar.html" . }}
        </header>
    
        {{ block "main" . }}
        {{ end }}
    </body>
</html>
