<div class="eboard-card" id="eboard-{{ .position | urlize }}">
    <div class="photo">
        <img id="eboard-photo" src="eboard/{{ .name | urlize }}.webp" alt="Profile photo of {{ .name }}"/>
    </div>
    <div class="info">
        <h3 class="roleandname">
            <div class="position">
                {{ .position  }}
            </div>
            <div class="name">
                {{ .name }}
            </div>
        </h3>

        {{ if gt (len .major) 0 }}
            <p class="major">
                <strong style="font-style: italic;">
                    Major{{ if gt (len .major) 1 }}s{{ end }}: 
                </strong>
                {{ delimit .major " & " }}
            </p>
        {{ end }}
    </div>
    <div class="social-links">
        {{ if .git }}
        <a target="_blank" href="{{ .git }}">
            <button class="personal" id="github">
                <i class="bi bi-github"></i>
                <p style="font-size: 18px;">GitHub</p>
            </button>
        </a>
        {{ end }}
        {{ if .linkedin }}
        <a target="_blank" href="{{ .linkedin }}">
            <button class="personal" id="linkedin">
                <i class="bi bi-linkedin"></i>
                <p style="font-size: 18px;">LinkedIn</p>
            </button>
        </a>
        {{ end }}
    </div>
</div>