<nav>
    <a href="#home">
        <img 
            id="acmlogo" 
            src="logo.webp" 
            alt="Valpo ACM-W Logo"/>
    </a>
    <ul>
        <a 
            href="#eboard" 
            style="text-decoration: none; color: black;">
            <li>
                E-Board Members
            </li>
            
        </a>
        <a 
            href="#events"
            style="text-decoration: none; color: black;">
            <li>
                Events
            </li>
        </a>
        <a 
            href="#projects"
            style="text-decoration: none; color: black;">
            <li>
                Projects
            </li>
        </a>
        <a 
            target="_blank"
            href="constitution.pdf"
            style="text-decoration: none; color: black;">
            <li>
                Constitution
            </li>
        </a>
    </ul>
    <div class="socials">
        <a target="_blank" href="https://github.com/valpo-acm">
            <button class="org-social">
                <i class="bi bi-github"></i>
            </button>
        </a>
        <a target="_blank" href="https://www.instagram.com/valpoacm/">
            <button class="org-social">
                <i class="bi bi-instagram"></i>
            </button>
        </a>
        <a target="_blank" href="https://discord.gg/ZFAqSbsrzu">
            <button class="org-social">
                <i class="bi bi-discord"></i>
            </button>
        </a>
        <a target="_blank" href="mailto:acm@valpo.edu">
            <button class="org-social">
                <i class="bi bi-envelope-fill"></i>
            </button>
        </a>
    </div>
</nav>