<nav>
    <img id="acmlogo" src="logo.webp" alt="Valpo ACM-W Logo"/>
    <ul>
        <li>
            <a href="#eboard">
                E-Board Members
            </a>
        </li>
        <li>
            <a href="#events">
                Events
            </a>
        </li>
        <li>
            <a href="#projects">
                Projects
            </a>
        </li>
        <li>
            <a href="#constitution">
                Constitution
            </a>
        </li>
    </ul>
    <div class="socials">
        <a target="_blank" href="https://github.com/valpo-acm">
            <button id="github">
                <i class="bi bi-github"></i>
            </button>
        </a>
        <a target="_blank" href="https://www.instagram.com/valpoacm/">
            <button id="instagram">
                <i class="bi bi-instagram"></i>
            </button>
        </a>
        <a target="_blank" href="https://discord.gg/ZFAqSbsrzu">
            <button id="discord">
                <i class="bi bi-discord"></i>
            </button>
        </a>
        <a target="_blank" href="mailto:acm@valpo.edu">
            <button id="github">
                <i class="bi bi-envelope"></i>
            </button>
        </a>
    </div>
</nav>