<div class="project-card" id="project-{{ .title | urlize }}">
    <div style="display: flex; align-items: flex-start; justify-content: flex-start;">
        <img id="project-photo" src="projects/{{ .title | urlize }}.png" alt="Photo of the {{ .name }} project" />
    </div>
    <div class="project-info">
        <h3 class="project-name">
            {{ .title }}
        </h3>
        <div class="contributors">
            <span id="contributor-header">
                Contributors
            </span>
            {{ range $index, $contributor := .contributors }}
                {{ if lt (add $index 1) (len $.contributors) }}
                    {{ .name }},
                {{ else }}
                    {{ .name }}
                {{ end }}
            {{ end }}
        </div>
        <div class="project-description">
            <span id="contributor-header">
                Project Description
            </span>
            {{ .description }}
        </div>
        <div>
            <a target="_blank" href="{{ .github }}">
                <button id="github-project">
                    <i class="bi bi-github"></i>
                    GitHub
                </button>
            </a>
        </div>
    </div>
</div>
