body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

header {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
}

h1 {
    font-family: sans-serif;
    font-weight: lighter;
    color: #613318;
}

h2 {
    font-family: serif;
    text-align: center;
    margin-bottom: 20px;
    color: #613318;
}

section {
    margin-bottom: 50px;
}

img {
    display: block;
    border-radius: 10px;
}

#eboard-cards {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 75px;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 640px) {
    #eboard-cards {
        grid-template-columns: auto;
    }
}

.eboard-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed gray;
}

h3 {
    color: #613318;
    text-align: center;
}

#events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#events div {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 450px) {
    #events div {
        grid-template-columns: auto;
    }
}

#constitution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#constitution iframe {
    width: 70%;
    height: 500px;
}
