body {
    font-family: sans-serif;
    background-color: #eeeeee;
    margin-top: 78px;
}

header {
    display: flex;
}

h2 {
    font-family: serif;
    text-align: center;
    margin-bottom: 20px;
    color: #C76917;
    font-weight: bold;
    font-size: xx-large;
}

section {
    padding-top: 15px;
    margin-bottom: 50px;
}

img {
    display: block;
    border-radius: 10px;
}

h3 {
    color: #613318;
    font-size: x-large;
    text-align: center;
}

#constitution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    scroll-padding-top: 85px;
    scroll-behavior: smooth;
}