body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

header {
    display: flex;
}

h2 {
    font-family: serif;
    text-align: center;
    margin-bottom: 20px;
    color: #613318;
}

section {
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 50px;
}

img {
    display: block;
    border-radius: 10px;
}

h3 {
    color: #613318;
    text-align: center;
}

#constitution {
    display: flex;
    flex-direction: column;
    align-items: center;
}